/* Workflow specifications */
params.mapper = 'bwa_mem' // must be one of bwa_mem, bwa_aln, bowtie2 or minimap2
params.map_historical_pairs = false // whether to map paired-end reads from adapterremoval (collapsed and singleton reads are always mapped)
params.skip_variant_calling = false // set to true to stop pipeline after BAM/CRAM processing, skipping variant calling and filtering
params.variant_caller = 'freebayes' // must be one of gatk_join, gatk_haplotypecaller, freebayes or bcftools

//========================================================\\
//              Output file options
//========================================================\\

params.store_raw_vcf = true

//========================================================\\
//              Reference genome/input parameters
//========================================================\\

// Optionally provide a list of scaffolds upon which to perform the genotyping. Should be given as a file listing one scaffold per line, scaffolds not included in this file will be excluded from variant calling (but still present in cramfiles).
params.scaffold_list = null
// params.scaffold_list = null 

// If the sex-linked scaffold(s) are known, these can be specified here to aid on-the-fly sex identification and appropriate coverage filtration on this chromosome. 
// x_scaffolds and z_scaffolds are essentially the same thing here, but will give opposite sex identifications in the output
// (~half the autosomal coverage on x and z will give male and female as sex id, respectively). The same goes for y_scaffolds and w_scaffolds.)
// Specifying these will trigger sex-chromosome specific coverage filter, so that the mapping thresholds in the variant filtration parameters
// below will filter based on autsomal, X/Z and Y/W specific averages, respectively.
params.x_scaffolds = "NC_041774.1"
params.y_scaffolds = "NC_027914.1"
params.z_scaffolds = null
params.w_scaffolds = null

//========================================================\\
//              Variant calling parameters
//========================================================\\

params.chunk_size = 20 // Size of genomic intervals (in Mb) for parallel processing
params.ploidy               = 2
params.min_base_quality     = 20

//========================================================\\
//              Genotype filtration parameters
//========================================================\\

/* Variant filtration parameters */
params.min_depth = 0.3 // minimum read depth to keep a variant, if given as float values between 0.0 and 1.0, interpreted as fraction of average coverage, otherwise as absolute value
params.max_depth = 2.0 // maximum read depth to keep a variant, if given as float values (i.e. with a decimal point), interpreted as fraction of average coverage, otherwise as absolute value
params.maf_threshold = 0.0 // genotypes with a minor allele frequency equal or lower than this value will be filtered out, given as a float value between 0.0 and 0.5
params.fmiss_threshold = 1.0 // genotypes with a fraction of missing genotypes equal or higher than this value will be filtered out
params.min_allele_balance = 0.15 // minimum allele balance to keep a heterozygous variant (for the minor allele, so 0.2 means at least 20% of reads must support the minor allele

params.snp_filter_expression = null // custom filter expression for SNPs, if null, default will be used based on variant caller (see default expressions below)
params.indel_filter_expression = null // custom filter expression for indels, if null, default will be used based on variant caller (see default expressions below)

/*
 * Nextflow config file for nf-varcall pipeline
 * Variant calling pipeline: FastQC -> Trimming -> Mapping -> Dedup -> GATK HaplotypeCaller
 */

//========================================================\\
//              Conda parameters
//========================================================\\

conda.enabled = true
conda.cacheDir = "$projectDir/.envs"
// process.conda = "/home/axeljensen/miniconda3/envs/nf-varcall"
//process.env.JAVA_HOME = "/cfs/klemming/projects/supr/snic2022-6-144/AXEL/software/miniforge/envs/varcall_env"
//process.env.PATH = "${process.env.JAVA_HOME}/bin:${System.getenv('PATH')}"
//process.env.LD_LIBRARY_PATH = "${process.env.JAVA_HOME}/lib/jli:${process.env.JAVA_HOME}/lib:${System.getenv('LD_LIBRARY_PATH')}"

//========================================================\\
//              Sex assignment parameters 
// Optionally, this pipeline can do on-the-fly sex assignments
// of sampled individuals and perform sex-chromosomes specific
// filtration too. This requires the user to first specify 
// any known sex chromosomes in the reference genome under
// 'input parameters'
//========================================================\\

// Sex assignments will be based on the coverage ratio between the non-sex-limited sex chromosome (X/Z)
// and the autosomes. Hemizygous sex is called if the ratio is between sex_assignment_lower_threshold and sex_assignment_upper_threshold.
// Hemizygous sex is written as male in X/Y systems and female in Z/W systems.
params.sex_assignment_lower_threshold = 0.25 
params.sex_assignment_upper_threshold = 0.75

// Default parameters
// Input/Output
params.input                = null      // Path to input metadata CSV (sample_id;taxon;read_1;read_2)
params.name                = 'freebayes_calls' // Name of the pipeline run, used for naming output files and directories
outputDir = "${params.name}" // Output directory for the pipeline results
params.outdir = "${outputDir}"
params.popfile              = null   // Path to population file (sample_id;population) for joint genotyping, optional 
params.reads_dir = null // Optinally provide a directory in which to search for the reads to allow for a little less cluttered input file. Without this option, the pipeline is expecting a full path to the reads in the input file.
params.slurm_account = null

// Reference genome
params.reference            = 'testfiles/reference/GCF_003339765.1_Mmul_10_NC_041770.1.fna'    // Path to reference genome FASTA


// output mode
workflow.output.mode = 'copy'

// Tool-specific parameters
// Trimming (fastp)
params.trim_front           = 0
params.trim_tail            = 0
params.min_length           = 36

// BWA
params.bwa_threads          = 32

// =========================================================\\
//             Mapping/downsampling parameters              \\
// =========================================================\\

params.damageprofiler_rescale = false

// Options to downsample bamfiles (turned off by default)
params.downsample_bams = true
params.downsample_bams_coverage = -1 // if downsample is true and -1 set, bams will be downsampled to the level of the included sample with the shallowest coverage. Set to a positive integer to downsample to a fixed coverage.


// Variant filtering-set up different defaults for the different variant callers, as they differ in their annotations and recommended standard filtration processes.
// These ones only kick in if the user has not specified custom filtering expressions.
params.snp_filter_expression_bcftools = ' QUAL<30 || MQ<30 '
params.indel_filter_expression_bcftools = ' QUAL<30 || MQ<30 '

params.snp_filter_expression_gatk    = "QD < 2.0 || FS > 60.0 || MQ < 40.0 || MQRankSum < -12.5 || ReadPosRankSum < -8.0"
params.indel_filter_expression_gatk  = "QD < 2.0 || FS > 200.0 || ReadPosRankSum < -20.0"

params.snp_filter_expression_freebayes = ' QUAL<30 || MQM<30 || MQMR<30 '
params.indel_filter_expression_freebayes = ' QUAL<30 || MQM<30 || MQMR<30 '


// Resources
params.max_memory           = '512.GB'
params.max_cpus             = 26
params.max_time             = '96.h'

// Process-specific resource allocation
// Default
process.cpus   = 1
process.memory = '3.GB'
process.time   = '4.h'

process {
    withName: 'fastqc' {
        cpus   = 2
        time   = '10.h'
    }

    withName: 'fastp' {
        cpus   = 4
        time   = '1.h'
    }

    withName: 'bwa_mem' {
        cpus   = { params.bwa_threads }
        time   = '24.h'
    }
    withName: 'bwa_index' {
        cpus   = 8
        time   = '24.h'
    }
    
    withName: 'samtools_markdups' {
        cpus = 4
        time = '24.h'
    }
    withName: 'combine_bedfiles' {
        cpus   = 4
        time   = '10.h'
    }
    withName: 'parse_region_depths' {
        cpus   = 1
        time   = '2.h'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
        
        // Standard (local) memory allocations - lighter resources
        process {
            withName: 'fastqc' {
                memory = '3.GB'
            }
            withName: 'fastp' {
                memory = '3.GB'
            }
            withName: 'bwa_mem' {
                memory = '3.GB'
            }
            withName: 'mark_duplicates' {
                memory = '3.GB'
            }
            withName: 'samtools_markdups' {
                memory = '3.GB'
            }
            withName: 'haplotype_caller' {
                memory = '3.GB'
            }
            withName: 'combine_gvcfs' {
                memory = '3.GB'
            }
            withName: 'genotype_gvcfs' {
                memory = '3.GB'
            }
            withName: 'filter_variants' {
                memory = '3.GB'
            }
            withName: 'combine_bedfiles' {
                memory = '3.GB'
            }
            withName: 'parse_region_depths' {
                memory = '2.GB'
            }
        }
    }

    dardel {
        process.executor       = 'slurm'
        process.queue          = 'shared'
        process.clusterOptions = "-A ${params.slurm_account}"
        conda.enabled          = true
        conda.useMamba = true
        conda.cacheDir         = "$projectDir/.envs"
        
        // Dardel (HPC) memory allocations - more resources available
        process {
            withName: 'fastqc' {
                memory = '8.GB'
                cpus = 8
            }
            withName: 'fastp' {
                memory = '8.GB'
                cpus = 8
            }
            withName: 'bwa_mem' {
                memory = '256.GB'
                cpus = { params.bwa_threads }
            }
            withName: 'bwa_mem_singlereads' {
                memory = '256.GB'
                cpus = { params.bwa_threads }
            }
            withName: 'bwa_index' {
                memory = '16.GB'
                cpus = 8
            }
            withName: 'samtools_markdups' {
                memory = '16.GB'
            }
            withName: 'combine_bedfiles' {
                memory = '8.GB'
            }
            withName: 'parse_region_depths' {
                memory = '4.GB'
            }
            withName: 'samtools_dp' {
                memory = '8.GB'
            }
        }
    }

    conda {
        conda.enabled = true
    }
}

// Capture execution reports
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline.enabled = true
timeline.file    = "$outputDir/pipeline_info/execution_timeline_${trace_timestamp}.html"

report.enabled = true
report.file    = "$outputDir/pipeline_info/execution_report_${trace_timestamp}.html"

trace.enabled = true
trace.file    = "$outputDir/pipeline_info/execution_trace_${trace_timestamp}.txt"

// Manifest
manifest.name            = 'nf-varcall'
manifest.author          = 'Axel Jensen'
manifest.description     = 'Nextflow pipeline for read mapping and variant calling'
manifest.mainScript      = 'main.nf'
manifest.nextflowVersion = '>=23.04.0'
manifest.version         = '0.1.0'
